/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/.venv
/.ruff_cache

/doc/_apidoc/
/build
/dist
/job_output

__pycache__/

.DS_Store
/.attach_pid*
.vscode/
*_version.py
tmp.*
.deployed_resources.sh
.e2e_*.sh