coverage[toml] ~= 7.4
coverage-conditional-plugin == 0.9.*
deadline-cloud-test-fixtures == 0.5.*
pytest ~= 8.1
pytest-cov == 4.1.*
pytest-timeout == 2.2.*
pytest-xdist == 3.5.*
black[jupyter] ~= 23.12
rich == 13.7.*
types-python-dateutil ~= 2.9
mypy ~= 1.8
types-requests ~= 2.31
ruff ~= 0.2.1
twine ~= 4.0
types-psutil ~= 5.9